<VirtualHost *:80>
  ServerAdmin {{ apache_server_admin }}
  DocumentRoot /var/www/wordpress

  <Directory /var/www/wordpress>
    Options FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    allow from all
  </Directory>

</VirtualHost>
